.taskheader {
    margin: 20px auto;
    padding: 5px;
    width: 90%;
}

.taskheader label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.taskheader input {
    font-family: inherit;
    display: block;
    width: 90%;
    border: 1px solid grey;
    padding: 1px;
    margin-bottom: 10px;
}